h1{
	text-align: center;
	line-height: 3em;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	background: white;
	-webkit-animation: title 2s; /* Chrome, Safari, Opera */
    	animation: title 2s;
}










